$FooterLogoWidth: 20.77%;
$Dark-Alternate: #131619;
$Dark: #000000;
$Light: #ffffff;
$Border: 1px solid $Light;
$BorderRadius: 30px;
$Grey: #404040;
$LightGrey: #c4c4c4;
$InputHeight: 54px;
$CotainerWidth: 1300px;
$CotainerPaddingX: 15px;
$Transition: 0.2s;
$FontFamilyBase: "Heebo", sans-serif;
$FontFamilyAccent: "Yantramanav", sans-serif;
$HeaderHeight: 90px;
