.header {
    padding-top: 60px;

    .header-inner.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 40px;
    }
    .header-logo.logo {
        img {
        }
    }
    .header-menu {
        font-size: 20px;
        margin-left: auto;
        .header-menu-list {
            display: flex;
            align-items: center;
            column-gap: 40px;
            .header-menu-item {
                .header-menu-link {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    height: 48px;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 100%;
                        width: 0;
                        height: 2px;
                        background-color: currentColor;
                        transition-duration: inherit;
                    }
                }
            }
        }
    }
    .header-button.button.transparent {
    }
    button.button-burger-menu.visible-mobile.burger-button {
        span.visually-hidden {
        }
    }
}
.mobile-overlay.visible-mobile {
    form.mobile-overlay-close-button-wrapper {
        button.mobile-overlay-close-button {
        }
        .mobile-overlay-body {
            ul.mobile-overlay-link {
                li.mobile-overlay-item {
                    a.header-menu-link {
                    }
                }
            }
        }
    }
}

@media (max-width: 1220px) {
    padding-top: 30px;
}
