doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Positivus
    link(rel="stylesheet" href="style.scss")
  body
    include header.pug
    main.content
        include hero.pug
        include services.pug
        include studies.pug
        include process.pug
