section.section.container
    header.section-header
        h2.section-title.puddle-big Testimonials
        .section-description
            p Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Digital Marketing Services
    .section-body
        .reviews
            .reviews-slider
                ul.reviews-slider-list
                    li.reviews-slider-item
                        blockquote.review-card
                            .review-card-body
                                p "We have been working with Positivus for the past year and have seen a significant increase in website traffic and leads as a result of their efforts. The team is professional, responsive, and truly cares about the success of our business. We highly recommend Positivus to any company looking to grow their online presence."
                            footer.review-card-footer
                                cite.review-card-name John Smith
                                cite.review-card-company Marketing Director at XYZ Corp
                    li.reviews-slider-item
                        blockquote.review-card
                            .review-card-body
                                p "We have been working with Positivus for the past year and have seen a significant increase in website traffic and leads as a result of their efforts. The team is professional, responsive, and truly cares about the success of our business. We highly recommend Positivus to any company looking to grow their online presence."
                            footer.review-card-footer
                                cite.review-card-name John Smith
                                cite.review-card-company Marketing Director at XYZ Corp
                    li.reviews-slider-item
                        blockquote.review-card
                            .review-card-body
                                p "We have been working with Positivus for the past year and have seen a significant increase in website traffic and leads as a result of their efforts. The team is professional, responsive, and truly cares about the success of our business. We highly recommend Positivus to any company looking to grow their online presence."
                            footer.review-card-footer
                                cite.review-card-name John Smith
                                cite.review-card-company Marketing Director at XYZ Corp
                    li.reviews-slider-item
                        blockquote.review-card
                            .review-card-body
                                p "We have been working with Positivus for the past year and have seen a significant increase in website traffic and leads as a result of their efforts. The team is professional, responsive, and truly cares about the success of our business. We highly recommend Positivus to any company looking to grow their online presence."
                            footer.review-card-footer
                                cite.review-card-name John Smith
                                cite.review-card-company Marketing Director at XYZ Corp
                    li.reviews-slider-item
                        blockquote.review-card
                            .review-card-body
                                p "We have been working with Positivus for the past year and have seen a significant increase in website traffic and leads as a result of their efforts. The team is professional, responsive, and truly cares about the success of our business. We highly recommend Positivus to any company looking to grow their online presence."
                            footer.review-card-footer
                                cite.review-card-name John Smith
                                cite.review-card-company Marketing Director at XYZ Corp
            .reviews-actions
                button.reviews-arrow-button
                    span.visually-hidden Previous slide
                    include icons/arrow-left.svg
                .reviews-pagination.pagination
                    ul.pagination-list
                        li.pagination-item
                            button.pagination-button.is-current
                                span.visually-hidden First Slide
                                include icons/star.svg
                        li.pagination-item
                            button.pagination-button
                                span.visually-hidden Second Slide
                                include icons/star.svg
                        li.pagination-item
                            button.pagination-button
                                span.visually-hidden Third Slide
                                include icons/star.svg
                        li.pagination-item
                            button.pagination-button
                                span.visually-hidden Fifth Slide
                                include icons/star.svg

                button.reviews-arrow-button
                    span.visually-hidden Next Slide
                    include icons/arrow-right.svg
