@use "vars.scss" as *;

section.section.container {
    header.section-header {
        h2.section-title.puddle-big {
        }
        .section-description {
            p {
            }
        }
    }
    .section-body {
        .reviews {
            padding-top: 84px;
            padding-bottom: 68px;
            display: flex;
            flex-direction: column;
            row-gap: 124px;
            color: $White;
            background-color: $Dark;
            border-radius: $BorderRadius;
            .reviews-slider {
                ul.reviews-slider-list {
                    display: flex;
                    column-gap: 50px;
                    li.reviews-slider-item {
                        blockquote.review-card {
                            display: flex;
                            flex-direction: column;
                            row-gap: 48px;
                            .review-card-body {
                                border: 1px solid $Green;
                                border-radius: $BorderRadiusLarge;

                                p {
                                }
                            }
                            footer.review-card-footer {
                                cite.review-card-name {
                                }
                                cite.review-card-company {
                                }
                            }
                        }
                    }
                }
            }
            .reviews-actions {
                button.reviews-arrow-button {
                    span.visually-hidden {
                    }
                    /* include icons/arrow-left.svg */
                }
                .reviews-pagination.pagination {
                    ul.pagination-list {
                        li.pagination-item {
                            button.pagination-button.is-current {
                                span.visually-hidden {
                                }
                                /* include icons/star.svg */
                            }
                        }
                    }
                }

                button.reviews-arrow-button {
                    span.visually-hidden {
                    }
                    /* include icons/arrow-right.svg */
                }
            }
        }
    }
}
