@use "vars.scss" as *;
$ReviewCardCornerWidth: 40px;
$ReviewCardCornerOffsetLeft: 50px;
section.section.container {
    header.section-header {
        h2.section-title.puddle-big {
        }
        .section-description {
            p {
            }
        }
    }
    .section-body {
        .reviews {
            padding-top: 84px;
            padding-bottom: 68px;
            display: flex;
            flex-direction: column;
            row-gap: 124px;
            color: $White;
            background-color: $Dark;
            border-radius: $BorderRadius;
            .reviews-slider {
                ul.reviews-slider-list {
                    display: flex;
                    column-gap: 50px;
                    li.reviews-slider-item {
                        blockquote.review-card {
                            display: flex;
                            flex-direction: column;
                            row-gap: 48px;
                            .review-card-body {
                                position: relative;
                                padding: 48px 52px;
                                border: 1px solid $Green;
                                border-radius: $BorderRadiusLarge;
                                ::after {
                                    @include square($ReviewCardCornerWidth0px);
                                    content: "";
                                    position: absolute;
                                    top: 100%;
                                    left: $ReviewCardCornerOffsetLeft;
                                    background-color: $Dark;
                                    border: inherit;
                                    rotate: 45deg;
                                    clip-path: polygon(
                                        100% 0,
                                        0% 100%,
                                        100% 100%
                                    );
                                    translate: 0 -50%;
                                }
                                p {
                                }
                            }
                            footer.review-card-footer {
                                display: flex;
                                flex-direction: column;
                                padding-left: calc(
                                        $ReviewCardCornerOffsetLeft +
                                            $ReviewCardCornerWidth / 2
                                    )
                                    cite.review-card-name {
                                    color: $Green;
                                }
                                cite.review-card-name,
                                cite.review-card-company {
                                    font-style: normal;
                                }
                            }
                        }
                    }
                }
            }
            .reviews-actions {
                button.reviews-arrow-button {
                    span.visually-hidden {
                    }
                    /* include icons/arrow-left.svg */
                }
                .reviews-pagination.pagination {
                    ul.pagination-list {
                        li.pagination-item {
                            button.pagination-button.is-current {
                                span.visually-hidden {
                                }
                                /* include icons/star.svg */
                            }
                        }
                    }
                }

                button.reviews-arrow-button {
                    span.visually-hidden {
                    }
                    /* include icons/arrow-right.svg */
                }
            }
        }
    }
}
