section.section.container
    header.section.header
        h2.puddle-big Services
        .section-description
            p At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include:
    .section-body
        .services
            ul.services-list
                li.services-item
                    article.service-card
                        .service-card-body
                            h3.service-card-title
                                span.puddle-big Search engine
                                span.puddle-big optimization
                            a.service-card-link(href="/")
                                span.service-card-link-icon-wrapper
                                span.service-card-link-label Learn more
                        img.service-card-image(src="/images/1.svg" alt="" width="210" height="170")
                li.services-item
                    article.service-card
                        .service-card-body
                            h3.service-card-title
                                span.puddle-big Search engine
                                span.puddle-big optimization
                            a.service-card-link(href="/")
                                span.service-card-link-icon-wrapper
                                span.service-card-link-label Learn more
                        img.service-card-image(src="/images/2.svg" alt="" width="210" height="170")
                li.services-item
                    article.service-card
                        .service-card-body
                            h3.service-card-title
                                span.puddle-big Search engine
                                span.puddle-big optimization
                            a.service-card-link(href="/")
                                span.service-card-link-icon-wrapper
                                span.service-card-link-label Learn more
                        img.service-card-image(src="/images/2.svg" alt="" width="210" height="170")
                li.services-item
                    article.service-card
                        .service-card-body
                            h3.service-card-title
                                span.puddle-big Search engine
                                span.puddle-big optimization
                            a.service-card-link(href="/")
                                span.service-card-link-icon-wrapper
                                span.service-card-link-label Learn more
                        img.service-card-image(src="/images/3.svg" alt="" width="210" height="170")
                li.services-item
                    article.service-card
                        .service-card-body
                            h3.service-card-title
                                span.puddle-big Search engine
                                span.puddle-big optimization
                            a.service-card-link(href="/")
                                span.service-card-link-icon-wrapper
                                span.service-card-link-label Learn more
                        img.service-card-image(src="/images/3.svg" alt="" width="210" height="170")
                li.services-item
                    article.service-card
                        .service-card-body
                            h3.service-card-title
                                span.puddle-big Search engine
                                span.puddle-big optimization
                            a.service-card-link(href="/")
                                span.service-card-link-icon-wrapper
                                span.service-card-link-label Learn more
                        img.service-card-image(src="/images/3.svg" alt="" width="210" height="170")
        .services-banner.banner
