$Dark: #191a23;
$White: #ffffff;
$Light: #f3f3f3;
$Green: #b9ff66;
$Grey: #898989;
$FooterDark: #292a32;
$Border: 1px solid $Dark;
$BorderRadius: 14px;
$BorderRadiusSmall: 7px;
$BorderRadiusLarge: 45px;

$Shadow: 0 5px 0 0 $Dark;
$Font: "Space Grotesk", sans-serif;
$ContainerWidth: 1240px;
$ContainerPaddingX: 20px;
$ContainerPaddingY: 70px;
$InputHeight: 59px;
$ButtonHeight: 68px;
$Transition: 0.2s;

@mixin fluid-text($Max: 48, $Min: 16) {
    font-size: clamp(#{$Min}, #{$Max/1440 * 100}vw, #{$Max});
}

@mixin reset-link {
    color: inherit;
    &,
    &:hover {
        text-decration: none;
    }
}

@mixin reset-button {
    padding: 0;
    background-color: transprent;
}

@mixin flex-center($IsInline: false) {
    @if $IsInline {
        display: inline-flex;
    } @else {
        display: flex;
    }
    justify-content: center;
    align-items: center;
}

@mixin abs-center {
    position: absoulte;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin square($size) {
    width: $size;
    aspect-ration: 1;
}

$DesktopAbone: 1281px;
$Desktop: 1280px;
$TabletAbone: 1024px;
$Tablet: 1023px;
$MobileAbone: 768px;
$Mobile: 767px;

@mixin desktop-abone {
    @media (min-width: $DesktopAbone) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: $Desktop) {
        @content;
    }
}

@mixin tablet-abone {
    @media (min-width: $TabletAbone) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: $Tablet) {
        @content;
    }
}
@mixin mobile-abone {
    @media (min-width: $MobileAbone) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: $Mobile) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
    @media (hover: none) {
        &:hover {
            @content;
        }
    }
}

@include desktop {
    $ContainerPaddingY: 50px;
}

@include mobile {
    $ContainerPaddingY: 30px;
}
