// colors
$Dark: #191a23;
$White: #fffff;
$Light: #f3f3f3;
$Green: #b9ff66;
$Grey: #898989;
$FooterDark: #292a32;
// Border
$Border: 1px solid $Dark;
$BorderRadius: 14px;
$BorderRadiusSmall: 7px;
$BorderRadiusLarge: 45px;

$Shadow: 0 5px 0 0 $Dark;
$Font: "Space Grotesk", sans-serif;
$CotainerWidth: 1240px;
$CotainerPaddingX: 20px;
$CotainerPaddingY: 70px;
$InputHeight: 59px;
$ButtonHeight: 68px;
$Transition: 0.2s;
